{% load static %}

<!-- Footer START -->
<footer class="mpt-0">
    <div class="container">
        <div class="row">
            <!-- Column 4 Start -->
            <div class="col-md-3 col-sm-6 col-12">
                <h3>Contact</h3>
                <div class="mt-25">
                    <p>
                        Amber IT Ltd. Navana Tower (7th Floor)<br>
                        45 Gulshan South C/A, Circle-1<br>
                        Tel : (8802) 222264415, (880) 9611123123<br>
                        Fax : (8802) 222264334<br>
                        Email : info@amberit.com.bd
                    </p>
                </div>
            </div>
            <!-- Column 4 End -->
            <!-- Column 2 Start -->
            <div class="col-md-3 col-sm-6 col-12">
                <h3>Quick Links</h3>
                <ul class="footer-list">
                    <li><a href="home-internet.html">Home Internet</a></li>
                    <li><a href="corporate-internet.html">Corporate Internet</a></li>
                    <li><a href="coverage-area.html">Coverage Area</a></li>
                    <li><a href="iptsp.html">IPTSP</a></li>
                    <li><a href="hosting-web-development.html">Hosting & Development</a></li>

                </ul>
            </div>
            <!-- Column 2 End -->

            <!-- Column 2 Start -->
            <div class="col-md-3 col-sm-6 col-12">
                <h3>Quick Links</h3>
                <ul class="footer-list">
                    <li><a href="bill-pay.html">Bill Pay</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="special-offer.html">Special Offer</a></li>
                    <li><a href="http://blog.amberit.com.bd/">Blog</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
            <!-- Column 2 End -->

            <!-- Column 3 Start -->
            <div class="col-md-3 col-sm-6 d-none col-12">
                <h3>Recent Posts</h3>
                <div class="mt-25">
                    <!-- Post Start -->
                    <div class="footer-recent-post clearfix">
                        <div class="footer-recent-post-thumb">
                            <img src="../via.placeholder.com/65x65.png" alt="img">
                        </div>
                        <div class="footer-recent-post-content">
                            <span>February 7, 2018</span>
                            <a href="#">Advices for young designers</a>
                        </div>
                    </div>
                    <!-- Post End -->
                    <!-- Post Start -->
                    <div class="footer-recent-post clearfix">
                        <div class="footer-recent-post-thumb">
                            <img src="../via.placeholder.com/65x65.png" alt="img">
                        </div>
                        <div class="footer-recent-post-content">
                            <span>February 7, 2018</span>
                            <a href="#">What Planning Process Needs?</a>
                        </div>
                    </div>
                    <!-- Post End -->
                    <!-- Post Start -->
                    <div class="footer-recent-post clearfix">
                        <div class="footer-recent-post-thumb">
                            <img src="../via.placeholder.com/65x65.png" alt="img">
                        </div>
                        <div class="footer-recent-post-content">
                            <span>February 7, 2018</span>
                            <a href="#">Lorem ipsum dolor sit amet.</a>
                        </div>
                    </div>
                    <!-- Post End -->
                </div>
            </div>
            <!-- Column 3 End -->


            <!-- Column 1 Start -->
            <div class="col-md-3 col-sm-6 col-12">
                <h3>ISO Certified</h3>
                <div class="mt-25">
                    <img src="{% static 'images/amberit_iso.jpg' %}" alt="ISO" class="w-100">
                </div>
            </div>
            <!-- Column 1 End -->
        </div>

        <!-- Footer Bar Start -->
        <div class="footer-bar">
            <div class="row">
                <div class="col-sm-6 pt-2 m-text-center">
                    <p><span class="primary-color">Amber IT</span> © 2024. All Rights Reserved.</p>
                </div>
                <div class="col-sm-6">
                    <div class="footer-social-icons text-right m-text-center">
                        <ul>
                            <li><a href="https://www.facebook.com/amberit247/" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="https://www.instagram.com/amberit247/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="https://www.linkedin.com/company/amberitltd/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                            <!--<li><a href="#" target="_blank"><i class="fa fa-skype"></i></a></li>-->
                            <li><a href="https://www.youtube.com/channel/UCIiRPFeZ5GVk2K7Xj_t-vng" target="_blank"><i class="fa fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Bar End -->
    </div>
</footer>
<!-- Footer END -->

</body>

</html>