{% extends 'base.html' %}

{% load static %}

{% block content %}


<!-- Slider START -->
<div class="swiper-main-slider-fade swiper-container">
    <div class="swiper-wrapper">
        <!-- Slide 1 Start -->
        <div class="swiper-slide slider-1">
            <!-- <div class="medium-overlay"></div> -->
            <div class="container">
                <div class="slider-content left-holder">
                    <div class="row m-flex-column-reverse">
                        <div class="col-md-6 col-sm-12 col-12 d-flex flex-column m-text-center">
                            <h2 class="animated fadeInDown mt-auto">
                                CORPORATE <span class="font-weight-light">INTERNET</span>
                            </h2>
                            <p class="animated fadeInDown d-none">
                                Amber IT offers safe internet access services with various service level descriptions for corporate businesses and SMEs.
                            </p>
                            <div class="animated fadeInUp mt-30 mb-auto">
                                <a href="corporate-internet.html" class="dark-button button-md">Learn More</a>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-12 mmb-50">
                            <p class="animated bounceInRight">
                                <img src="{% static 'images/slider-images/1.png' %}" alt="Corporate Internet" class="w-100">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Slide 1 End -->

        <!-- Slide 2 Start -->
        <div class="swiper-slide slider-2">
            <div class="container">
                <div class="slider-content left-holder">
                    <div class="row m-flex-column-reverse">
                        <div class="col-md-6 col-sm-12 col-12 d-flex flex-column m-text-center">
                            <h2 class="animated fadeInDown mt-auto">
                                HOME <span class="font-weight-light">INTERNET </span>
                            </h2>
                            <p class="animated fadeInDown d-none">
                                Amber IT provides an extensive range of high quality data & internet connectivity services throughout the country.
                            </p>
                            <div class="animated fadeInUp mt-30 mb-auto">
                                <a href="home-internet.html" class="dark-button button-md">Learn More</a>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-12 mmb-50">
                            <p class="animated jello">
                                <img src="{% static 'images/slider-images/2.png' %}" alt="Home Internet" class="w-100">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Slide 2 End -->

        <!-- Slide 3 Start -->
        <div class="swiper-slide slider-3">
            <div class="container">
                <div class="slider-content left-holder">
                    <div class="row m-flex-column-reverse">
                        <div class="col-md-6 col-sm-12 col-12 d-flex flex-column m-text-center">
                            <h2 class="animated fadeInDown mt-auto">
                                POPULAR <span class="font-weight-light">PACKAGE</span>
                            </h2>
                            <p class="animated fadeInDown d-none">
                                15 Mbps @ 1200 BDT/month
                                Fiber Optics
                                1 Real IP Free
                                Free Talk Time - Unlimited 24 Hours
                                24/7 Customer Support
                            </p>
                            <div class="animated fadeInUp mt-30 mb-auto">
                                <a href="home-internet.html" class="dark-button button-md">Learn More</a>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-12 mmb-50">
                            <p class="animated rubberBand">
                                <img src="{% static 'images/slider-images/3.png' %}" alt="Popular Package" class="w-100">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Slide 3 End -->

        <!-- Slide 4 Start -->
        <div class="swiper-slide slider-4">
            <div class="container">
                <div class="slider-content left-holder">
                    <div class="row m-flex-column-reverse">
                        <div class="col-md-6 col-sm-12 col-12 d-flex flex-column m-text-center">
                            <h2 class="animated fadeInDown mt-auto">
                                IP <span class="font-weight-light">TELEPHONY</span>
                            </h2>
                            <p class="animated fadeInDown d-none">
                                Amber IT addresses the voice communication needs of diverse customer groups with a high quality and reliable IP Telephony service portfolio.
                            </p>
                            <div class="animated fadeInUp mt-30 mb-auto">
                                <a href="iptsp.html" class="dark-button button-md">Learn More</a>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-12 mmb-50">
                            <p class="animated lightSpeedIn">
                                <img src="{% static 'images/slider-images/4.png' %}" alt="IP Telephony" class="w-100">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Slide 4 End -->

        <!-- Slide 5 Start -->
        <div class="swiper-slide slider-5">
            <div class="container">
                <div class="slider-content left-holder">
                    <div class="row m-flex-column-reverse">
                        <div class="col-md-6 col-sm-12 col-12 d-flex flex-column m-text-center">
                            <h2 class="animated fadeInDown mt-auto">
                                IP PHONE <span class="font-weight-light">APP</span>
                            </h2>
                            <p class="animated fadeInDown d-none">
                                Amber IT provides web development and a variety of hosting options to suit varying customer
                                requirements including dedicated hosting and shared hosting.
                            </p>
                            <div class="animated fadeInUp mt-30 mb-auto">
                                <a href="#" class="dark-button button-md">Learn More</a>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-12 mmb-50">
                            <p class="animated jackInTheBox">
                                <img src="{% static 'images/slider-images/IP_Phone_Banner_Image.png' %}" alt="IP PHONE APP" class="w-100">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Slide 5 End -->

        <!-- Slide 6 Start -->
        <div class="swiper-slide slider-6">
            <div class="container">
                <div class="slider-content left-holder">
                    <div class="row m-flex-column-reverse">
                        <div class="col-md-6 col-sm-12 col-12 d-flex flex-column m-text-center">
                            <h2 class="animated fadeInDown mt-auto">
                                HOSTING & <span class="font-weight-light">WEB DEVELOPMENT</span>
                            </h2>
                            <p class="animated fadeInDown d-none">
                                Amber IT provides web development and a variety of hosting options to suit varying customer
                                requirements including dedicated hosting and shared hosting.
                            </p>
                            <div class="animated fadeInUp mt-30 mb-auto">
                                <a href="hosting-web-development.html" class="dark-button button-md">Learn More</a>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-12 mmb-50">
                            <p class="animated jackInTheBox">
                                <img src="{% static 'images/slider-images/5.png' %}" alt="Hosting & Web Development" class="w-100">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Slide 6 End -->

    </div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"><i class="fa fa-angle-right fa-3x"></i></div>
    <div class="swiper-button-prev"><i class="fa fa-angle-left fa-3x"></i></div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
</div>
<!-- Slider END -->


<!-- Info Section START -->
<div class="section-block pb-0 mpt-0">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-6 col-12">
                <div class="section-heading mt-30">
                    <span>Welcome To Amber IT</span>
                    <h1>#1 Broadband Internet Provider</h1>
                    <div class="section-heading-line-left"></div>
                </div>
                <div class="text-content mt-25 animated fadeInDown">
                    <p>Amber IT has come a long way since its establishment in 1997. From small beginnings as a provider of dial-up & radio link Internet access to local businesses, we have grown consistently and organically as a communications provider serving a diverse portfolio of business class voice and data services.</p>
                </div>
                <div class="mt-25">
                    <a href="about.html" class="primary-button button-md">Learn More</a>
                </div>
            </div>
            <div class="col-md-7 col-sm-6 col-12 mt-n3 mmt-0">
                <img src="{% static 'images/about.png' %}" alt="About Amber IT Limited" class="">
            </div>
        </div>
    </div>
</div>
<!-- Info Section END -->



<!-- Clients Carousel START -->
<div class="section-clients py-4">
    <div class="container">
        <div class="owl-carousel owl-theme clients" id="clients">
            <div class="item">
                <img src="{% static 'images/brands/amberit_btcl.png' %}" alt="BTCL">
            </div>

            <div class="item">
                <img src="{% static 'images/brands/amberit_bd_hub.png' %}" alt="BD Hub">
            </div>

            <div class="item">
                <img src="{% static 'images/brands/amberit_cisco.png' %}" alt="Cisco">
            </div>

            <div class="item">
                <img src="{% static 'images/brands/amberit_allo.png' %}" alt="Allot">
            </div>

            <div class="item">
                <img src="{% static 'images/brands/amberit_juniper.png' %}" alt="Juniper">
            </div>

            <div class="item">
                <img src="{% static 'images/brands/amberit_gp.png' %}" alt="Grameen Phone">
            </div>

            <div class="item">
                <img src="{% static 'images/brands/amberit_citycell.png' %}" alt="Citycell">
            </div>

            <div class="item">
                <img src="{% static 'images/brands/amberit_blink.png' %}" alt="Banglalink">
            </div>

            <div class="item">
                <img src="{% static 'images/brands/amber_baracuddalogo.png' %}" alt="Baracudda">
            </div>
        </div>
    </div>
</div>
<!-- Clients Carousel END -->



<!-- Services Start -->
<div class="section-block-bg section-md services-block services-block-red mpt-0">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-12">
                <div class="pr-30-md">
                    <div class="section-heading white-color mt-30">
                        <span>Your one stop smart internet solution !</span>
                        <h2><strong>What We Do ?</strong></h2>
                        <h4>Super Fast & Reliable Faster Network</h4>
                        <div class="section-heading-line-left"></div>
                    </div>
                    <div class="text-content white-color mt-25">
                        <p>Amber IT provides an extensive range of high quality data & internet connectivity services throughout the country. We offer safe internet access services with various service level descriptions for corporate businesses and SMEs. Our IPTSP services allow the opportunity to generate profitable and recurring monthly revenue for businesses. We also offer hosting & web development solutions for any business with high availability and consistency.</p>
                    </div>
                    <div class="mt-20">
                        <ul class="white-list">
                            <li><i class="fa fa-caret-right"></i>Corporate Internet & Data Connectivity</li>
                            <li><i class="fa fa-caret-right"></i>Safe & Smarter Home Internet</li>
                            <li><i class="fa fa-caret-right"></i>High Quality & Reliable IPTSP Service</li>
                            <li><i class="fa fa-caret-right"></i>Secured Hosting & Web Development</li>
                        </ul>
                    </div>
                    <a href="contact.html" class="dark-button button-md mt-25">Become a Client</a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-12">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-12 d-flex">
                        <div class="feature-box w-100">
                            <i class="icon-network-12"></i>
                            <h4>Corporate Internet</h4>
                            <p class="">We offer safe internet access services with various service level descriptions for corporate businesses and SMEs.</p>
                            <div class="text-center mt-3">
                                <a href="corporate-internet.html" class="text-danger">
                                    Learn more <span class="fa fa-caret-right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-12 d-flex">
                        <div class="feature-box w-100">
                            <i class="icon-line-graph"></i>
                            <h4>Home Internet</h4>
                            <p class="">Amber IT provides an extensive range of high quality data & internet connectivity services throughout the country.</p>
                            <div class="text-center mt-3">
                                <a href="home-internet.html" class="text-danger">
                                    Learn more <span class="fa fa-caret-right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-12 d-flex">
                        <div class="feature-box w-100">
                            <i class="icon-folders2"></i>
                            <h4>Hosting & Development</h4>
                            <p class="">Amber IT offers hosting & web development solutions for any business with high availability and consistency.</p>
                            <div class="text-center mt-3">
                                <a href="hosting-web-development.html" class="text-danger">
                                    Learn more <span class="fa fa-caret-right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-12 d-flex">
                        <div class="feature-box w-100">
                            <i class="icon-smartphone2"></i>
                            <h4>IPTSP</h4>
                            <p class="">Amber IT IP Telephony services allow the opportunity to generate profitable and recurring monthly revenue for businesses.</p>
                            <div class="text-center mt-3">
                                <a href="iptsp.html" class="text-danger">
                                    Learn more <span class="fa fa-caret-right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services END -->



<!-- Package START -->
<div class="section-block mpt-40 mpb-10">
    <div class="container">
        <div class="section-heading center-holder">
            <h3>Most Popular Package</h3>
            <div class="section-heading-line"></div>
            <div class="row">
                <div class="col-md-5 col-sm-5 col-12">
                    <div class="pricing-list-2 border-0 shadow-none">
                        <div class="text-center">
                            <img src="{% static 'images/cloud-computing.svg' %}" alt="Cloud Computing" style="width:50px!important;">
                        </div>
			<h4>Primary Package</h4>
                        <div class="pricing-list-2-price">
                            <h3><sup>BDT </sup>1200</h3>
                            <span>/month</span>
                        </div>
                        <ul class="pricing-list-2-prod">
                            <li>30 Mbps Unlimited</li>
                            <li>Fiber Optics</li>
                            <li>400 Min TalkTime</li>
                            <li>OTC Fee - 500 Taka</li> 
                            <li>24/7 Customer Support</li>
                            <li>Free OTT Bongo, Chorki</li>
                            <li><img src="{% static 'images/logos/doctime-logo-AMBER-1.png' %}" alt="" style="width:auto; height: 50px;"></li>



                        </ul>
                        <div class="text-center mt-25">
                            <a href="{% url 'home-internet' %}" class="text-danger font-weight-bold">View All Packages  <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 col-sm-7 col-12">
                    <div class="mt-50">
                        <img src="{% static 'images/popular-package.png' %}" alt="Most Popular Package">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Package END -->



<!-- Blog Grid START -->
<!--<div class="section-block-grey mpt-40 mpb-0">
    <div class="container">
        <div class="section-heading center-holder">
            <h3>Blog</h3>
            <div class="section-heading-line"></div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-12">
                <div class="blog-grid">
                    <div class="blog-grid-img">
                        <img src="https://via.placeholder.com/345x220" alt="img">
                        <div class="data-box-grid">
                            <h4>07</h4>
                            <p>Feb</p>
                        </div>
                    </div>
                    <div class="blog-grid-text">
                        <span>Business</span>
                        <h4>Advices for young designers</h4>
                        <ul>
                            <li><i class="fa fa-calendar"></i>Feb 19, 2018</li>
                            <li><i class="fa fa-list-ul"></i>Business</li>
                        </ul>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>

                        <div class="mt-20 left-holder">
                            <a href="#" class="primary-button button-sm">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-12">
                <div class="blog-grid">
                    <div class="blog-grid-img">
                        <img src="https://via.placeholder.com/345x220" alt="img">
                        <div class="data-box-grid">
                            <h4>08</h4>
                            <p>Feb</p>
                        </div>
                    </div>
                    <div class="blog-grid-text">
                        <span>Finance</span>
                        <h4>What Planning Process Needs?</h4>
                        <ul>
                            <li><i class="fa fa-calendar"></i>Feb 19, 2018</li>
                            <li><i class="fa fa-list-ul"></i>Finance</li>
                        </ul>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>

                        <div class="mt-20 left-holder">
                            <a href="#" class="primary-button button-sm">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-12">
                <div class="blog-grid">
                    <div class="blog-grid-img">
                        <img src="https://via.placeholder.com/345x220" alt="img">
                        <div class="data-box-grid">
                            <h4>09</h4>
                            <p>Feb</p>
                        </div>
                    </div>
                    <div class="blog-grid-text">
                        <span>Consulting</span>
                        <h4>Leverage Customer Analytics</h4>
                        <ul>
                            <li><i class="fa fa-calendar"></i>Feb 19, 2018</li>
                            <li><i class="fa fa-list-ul"></i>Consulting</li>
                        </ul>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>

                        <div class="mt-20 left-holder">
                            <a href="#" class="primary-button button-sm">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
<!-- Blog Grid END -->





<!-- Registration Modal -->
<div class="modal fade" id="iptvPreReg" tabindex="-1" role="dialog" aria-labelledby="iptvPreRegLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="https://www.amberit.com.bd/action.php" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="iptvPreRegLabel">IPTV Pre-registration</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="contact-form">
                        <div class="row">
                            <div class="col-12">
                                <input type="text" class="my-1" name="name" placeholder="Name">
                            </div>
                            <div class="col-12">
                                <input type="text" class="my-1" name="mobile" placeholder="Mobile number">
                            </div>
                            <div class="col-12">
                                <input type="email" class="my-1" name="email" placeholder="E-mail">
                            </div>
                            <div class="col-md-12">
                                <input type="text" class="my-1" name="address" placeholder="Address">
                            </div>
                            <div class="col-md-12">
                                <input type="text" class="my-1" name="current_isp" placeholder="Current ISP">
                            </div>
                            <div class="col-md-3 text-dark col-sm-3 col-3 pr-0 pt-3">
                                <small class="font-weight-bold">If Amber IT</small>
                            </div>
                            <div class="col-md-9 col-sm-9 col-9">
                                <input type="text" class="my-1" name="cid" placeholder="CID">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Registration</button>
                </div>
            </form>
        </div>
    </div>
</div>




<!-- Scroll to top button Start -->
<a href="#" class="scroll-to-top"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
<!-- Scroll to top button End -->


{% endblock %}
