{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Page Title START -->
<div class="page-title-section" style="background-image: url('{% static 'images/header-img/Corporat-Internet-Header.png' %}');">
	<div class="container">
		<h1 class="text-danger">SME Internet</h1>
	</div>
</div>
<!-- Page Title END -->

<div class="container mb-5">
				<div class="row justify-content-center">
						<div class="col-lg-6">
								<div class="section-title text-center mb-70">
										<span class="sub-title">Our Packages</span>
										<h2 class="title">Small & Medium Enterprise Packages</h2>
										<div class="section-heading-line"></div>
										<p>Super Speed Optical Fiber Internet Connectivity with Real IP Right to Your Door Steps</p>
								</div>
						</div>
				</div>

				<div class="row pricing-box-wrap justify-content-center">

				  <!--LITE Package-->
				
				  <div class="col-lg-4 col-md-6 col-sm-9 d-flex">
							<div class="pricing-box mb-30">
									<div class="pricing-head">
											<h6>SME PRO</h6>
											<div class="pricing-icon services-icon">
													<i class="fa fa-wifi"></i>
											</div>
									</div>
									<div class="pricing-lists mb-30 pkg-w-300" style="width:250px">
											<h5>30 Mbps</h5>
											<img src="{% static 'images/logos/title_line.png' %}" alt="" style="width:45px;height: 3px;margin: 0 auto;">
											<ul class="mt-3">
													<li>Free Talk Time 300 Min</li>
                                                    <li>High Availability</li>
													<li>FTTH Technology</li>
													<li>Selfcare Portal</li>
													<li>24/7 Customer Support</li>
													<li>OTC Fee - 1000 Taka</li>
													<li class="d-none-sm">
														<div class="row">
															<div class="col-4"></div>
															<div class="col-4">
																<p style="width:300px">&nbsp; <br></p>
															</div>
															<div class="col-4"></div>
														</div>
													</li>

													<li>
														<div class="row">

															<div class="col-4" style="padding-top:15px;"><span style="color: #FC7563">Unlimited: </span> </div>
															<div class="col-2 p-0 m-0">
																<img src="{% static 'images/logos/facebook.jpg' %}" alt="" style="width:100%; height: auto;">
															</div>
															<div class="col-2 p-0 m-0">
																<img src="{% static 'images/logos/youtube.jpg' %}" alt="" style="width:100%; height: auto;">
															</div>
															<div class="col-2 p-0 m-0">
																<img src="{% static 'images/logos/bdix.jpg' %}" alt="" style="width:100%; height: auto;">
															</div>
															<div class="col-2"> </div>

													</div>
												</li>

											</ul>
									</div>
										<div class="price mb-20">
												<h2>2000৳<span>/MONTH</span></h2>
										</div>
										<div class="pricing-btn">
												<a href="https://registration.amberit.com.bd/?bid=60" class="price-btn"><span>+</span>Get Online Register</a>
										</div>
							</div>
					</div>

					<div class="col-lg-4 col-md-6 col-sm-9 d-flex">
								<div class="pricing-box pricing-box-2 mb-30">
										<div class="pricing-head">
												<h6>SME ULTRA</h6>
												<div class="pricing-icon services-icon">
														<i class="fa fa-wifi"></i>
												</div>
										</div>
										<div class="pricing-lists mb-30 pkg-w-300" style="width:250px">
												<h5>40 Mbps</h5>
												<img src="{% static 'images/logos/title_line.png' %}" alt="" style="width:45px;height: 3px;margin: 0 auto;">
												<ul class="mt-3">
                                                    <li>Free Talk Time 500 Min</li>
													<li>High Availability</li>
													<li>FTTH Technology</li>
													<li>Selfcare Portal</li>
													<li>24/7 Customer Support</li>
													<li>OTC Fee - 1000 Taka</li>
													<li class="d-none-sm">
														<div class="row">
															<div class="col-4"></div>
															<div class="col-4">
																<p style="width:300px">&nbsp; <br></p>
															</div>
															<div class="col-4"></div>
														</div>
													</li>

													<li>
														<div class="row">
															<div class="col-4" style="padding-top:15px;"><span style="color: #FC7563">Unlimited: </span> </div>
															<div class="col-2 p-0 m-0">
																<img src="{% static 'images/logos/facebook.jpg' %}" alt="" style="width:100%; height: auto;">
															</div>
															<div class="col-2 p-0 m-0">
																<img src="{% static 'images/logos/youtube.jpg' %}" alt="" style="width:100%; height: auto;">
															</div>
															<div class="col-2 p-0 m-0">
																<img src="{% static 'images/logos/bdix.jpg' %}" alt="" style="width:100%; height: auto;">
															</div>
															<div class="col-2"> </div>

													</div>
												</li>

												</ul>
										</div>
											<div class="price mb-20">
													<h2>2500৳<span>/MONTH</span></h2>
											</div>
											<div class="pricing-btn">
													<a href="https://registration.amberit.com.bd/?bid=61" class="price-btn"><span>+</span>Get Online Register</a>
											</div>
								</div>
						</div>


						<div class="col-lg-4 col-md-6 col-sm-9 d-flex">
								<div class="pricing-box pricing-box-3 mb-30">
										<div class="pricing-head">
												<h6>SME MAX</h6>
												<div class="pricing-icon services-icon">
														<i class="fa fa-wifi"></i>
												</div>
										</div>
										<div class="pricing-lists mb-30">
												<h5>50 Mbps</h5>
												<img src="{% static 'images/logos/title_line.png' %}" alt="" style="width:45px;height: 3px;margin: 0 auto;">
												<ul class="mt-3">
                                                    <li>Free Talk Time 700 Min</li>
													<li>High Availability</li>
													<li>Free Real IP</li>
													<li>FTTH Technology</li>
													<li>Selfcare Portal</li>
													<li>24/7 Customer Support</li>
													<li>OTC Fee - 1000 Taka</li>
													<li>
														<div class="row">

															<div class="col-4" style="padding-top:15px;"><span style="color: #FC7563">Unlimited: </span> </div>
															<div class="col-2 p-0 m-0">
																<img src="{% static 'images/logos/facebook.jpg' %}" alt="" style="width:100%; height: auto;">
															</div>
															<div class="col-2 p-0 m-0">
																<img src="{% static 'images/logos/youtube.jpg' %}" alt="" style="width:100%; height: auto;">
															</div>
															<div class="col-2 p-0 m-0">
																<img src="{% static 'images/logos/bdix.jpg' %}" alt="" style="width:100%; height: auto;">
															</div>
															<div class="col-2"> </div>

													</div>
												</li>
												</ul>
										</div>
											<div class="price mb-20">
													<h2>3000৳<span>/MONTH</span></h2>
											</div>
											<div class="pricing-btn">
													<a href="https://registration.amberit.com.bd/?bid=62" class="price-btn"><span>+</span>Get Online Register</a>
											</div>
								</div>
						</div>
				  <!--LITE Package Ends-->

				</div>
		</div>

{% endblock %}