{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Page Title START -->
<div class="page-title-section" style="background-image: url('{% static 'images/header-img/support-header.png' %}');">
	<div class="container">
		<h1 class="text-danger">Support</h1>
		<!--<ul>
			<li><a href="index.php" class="text-dark">Home</a></li>
			<li><span class="text-dark">Support</span></li>
		</ul>-->
	</div>
</div>
<!-- Page Title END -->



<!-- Feature Boxes Start -->
<div class="section-block mpt-30 mpb-30">
	<div class="container">
		<div class="section-heading center-holder mb-5">
			<h3>Support</h3>
			<div class="section-heading-line"></div>
		</div>
        <div class="row link">
            <div class="col-sm-12">
                <style>
                    .list-styled li {
                        list-style-type: lower-latin!important;
                    }
                </style>
                <div class="mb-5">
                    <h5 class="mb-2">Online Support Desk</h5 class="mb-1">
                    <ul class="pl-5 text-dark list list-styled">
                        <li> <p>WhatsApp - 01313488188</p></li>
                        <li> <p>Viber - 01313488188</p></li>
                        <li> <p>Facebook Messenger - Amberit Limited Fan page (<a href="https://www.facebook.com/amberit247/">https://www.facebook.com/amberit247/</a>)</p></li>
                       <!-- <li> <p>Online Ticketing :  ticketing.amberit.com.bd</p></li> -->
                        <li> <p>Email : <a href="mailto:helpdesk@amberit.com.bd">helpdesk@amberit.com.bd</a></p></li>
                    </ul>
                </div>
                <div class="mb-5">
                    <h5 class="mb-2">Offline Support Desk</h5 class="mb-1">
                    <ul class="pl-5 text-dark list list-styled">
                        <li> <p>SMS - 01313488177 ( Please send SMS mention your CID <Space> Your Complain</p></li>
                        <li> <p>Voice Base Complain ( 09611999555)</p></li>
                    </ul>
                </div>
                <div class="mb-5">
                    <h5 class="mb-2">Commercial Support</h5 class="mb-1">
                    <p>Commercially we concentrate on assisting you on the specifics of your business with us. For example, when developing complex connectivity solutions, you can call on the expertise of our pre-sales consultants to help design, cost and implement a complete communications proposition; to assist your marketing activity our marketing team can provide white label collateral; while your account manager can guide you through the service options and opportunities available to you.<br>For any commercial issue please contact <a href="mailto:marketing@amberit.com.bd">marketing@amberit.com.bd</a></p>
                </div>
                <div class="mb-5">
                    <h5 class="mb-2">Operational Support</h5>
                    <p>In operational and technical terms our customer service, systems and technical support teams are equally committed to delivering service quality. Provisioning specialists co-ordinate the implementation of your services and handle your enquiries; experienced systems engineers monitor and maintain our national next generation network continuously via our Network Operations Centre. Technical support experts provide 24/7 supports for all of the services we provide.</p>
                </div>
                <div class="mb-5">
                    <h5 class="mb-2">Ticketing System</h5>
                    <p>To improve our support, please log your support in our ticketing system. <a target="_blank" href="http://ticketing.amberit.com.bd/">ticketing.amberit.com.bd</a></p>
                </div>
                <div class="">
                    <h5 class="mb-2">My Amber IT</h5>
                    <table class="table table-bordered small">
                        <thead class="thead-light">
                        <tr>
                            <th class="font-weight-light" scope="col">IMAP/POP3:</th>
                            <td><a href="#">mail.amberit.com.bd</a></td>
                        </tr>
                        <tr>
                            <th class="font-weight-light">DNS</th>
                            <td>
                                <a href="#">ns3.amberit.com.bd(118.179.223.10)</a>, &nbsp;&nbsp;
                                <a href="#">ns4.amberit.com.bd (202.4.96.6)</a>
                            </td>
                        </tr>
                        <tr>
                            <th class="font-weight-light">Webmail</th>
                            <td><a href="#">http://mail.amberit.com.bd</a></td>
                        </tr>
                        <tr>
                            <th class="font-weight-light">Change password</th>
                            <td><a href="#">http://mail.amberit.com.bd/cgi-bin/chetcpasswd.cgi</a></td>
                        </tr>
                        <tr>
                            <th class="font-weight-light">Traffic monitoring</th>
                            <td><a href="#">http://mrtg.amberit.com.bd</a></td>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
	</div>
</div>
<!-- Feature Boxes End -->

{% endblock %}